(function($){
    $("#comment_content").val("")
    // $("#comments").append("<li><%= @comment.content %></li>");
    var html = "<%= escape_javascript(render(partial: 'comments/item', locals: {comment: @comment})) %>";
    $("#comments").append(html);
})(jQuery)