<style>
.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
  clear: both;
  position: relative;
  max-height: 180px;
  background-color: #303952;
}

.makers {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3333333;
    margin-top: 5px;
    color:white;
}

.copyright {
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 2;
    color: #8d8d8d;
}
</style>
<footer class="footer py-3">
  <p class="makers px-3 py-2">김희진 김양곤 김정원</p>
  <p class="copyright">&copy; 2018 <strong style="color:white;">Sogang Likelion</strong>. All Rights Reserved.</p>
</footer> 