<style>
@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

a {
  font-weight: 300;
}

/* top-navbar */
.navbar,
.navbar.shown {
  bottom: 0;
	width: 100%;
  height: 50px;
  position: fixed;
	top: 0;
  z-index: 2;
  padding: 0.5rem 1rem;
}

.navbar {
  border-bottom: none;
}

.navbar.shown{
  background: rgba(255,255,255,1);
  border-bottom: 1px solid rgba(184,184,184, 0.3);
  color: black;
}

#search2, #regist, #mypage, #logs {
  color: white;
}

/* bottom-navbar */
.bottom-navbar {
  height: 500px;
  width: 100%;
  padding-top: 50px; /* navbar 의 height 에 맞춰서 띄워줬음 */
}
.bottom-mentionArea,
.bottom-searchArea {
  display: flex;
  justify-content: center;
}
.bottom-mentionArea {
  margin-top: 8%;
}
.bottom-searchArea {
  margin-top: 4%;
}
.bottom-searchbar .form-control{
  width: 30%;
}

/* main-searchcard */
.search-card {
  background: #fff;
  border-radius: 1px;
  display: inline-block;
  height: 45px;
  margin: 1rem;
  position: relative;
  width: 420px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.search-card:hover {
  box-shadow: 2px 3px 10px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}
.form-inline {
  height: 100%;
  width: 100%;
}
.form-control {
  border-color: white;
  border-radius: 0px;
  width: 100% !important;
  height: 100%;
}
.form-control:focus {
  border-color: white;
  box-shadow: none;
}

#particles-js {
  width: 100%;
  height: 500px;
  color: white;
  background-color: #232741;
  position: absolute;
}

.dropdown#bell1, b#bell2 {
  color: white;
}

.logo-link {
  transition: 0.3s all;
  margin-top: 1%;
}


</style>

<div id="particles-js">
<%= render 'nav2' %>
</div>
<nav class="bottom-navbar">
  <div class="bottom-mentionArea">
    <span style="font-family: 'KCC-eunyoung'; font-size: 3.7rem; color: white; z-index:100;">비싼 전공책을 저렴하게,</span>
  </div>
  <div class="bottom-searchArea">
    <nav class="search-card">
      <%= form_tag(books_find_path, method: :get, class: 'form-inline search-form') do %>
      <%= text_field_tag "search", nil, class: "form-control mr-sm-2 search", placeholder: "", type: 'search' %>
      <% end %>
    </nav>
  </div>
</nav>

<script>
	$(document).scroll(function() {
		if ($(window).scrollTop() > 350) {
			$('.top-searchbar, input#search, .navbar, #navbarNav').addClass('shown');
      $('a#search2, a#regist, a#mypage, a#logs, .dropdown#bell1, b#bell2').css("color", "black");
      $('.logo-link').css("margin-top","0%");
    }
		else {
			$('.top-searchbar, input#search, .navbar, #navbarNav').removeClass('shown');
      $('a#search2, a#regist, a#mypage, a#logs, .dropdown#bell1, b#bell2').css("color", "white");
      $('.logo-link').css("margin-top","1%");		
    }		
	});

  $('.search').keypress(function(e){
      if(e.which == 13){
           $(this).closest('form').submit();
       }
    });

  particlesJS("particles-js",
 {
  "particles": {
    "number": {
      "value": 160,
      "density": {
        "enable": true,
        "value_area": 800
      }
    },
    "color": {
      "value": "#ffffff"
    },
    "shape": {
      "type": "circle",
      "stroke": {
        "width": 0,
        "color": "#000000"
      },
      "polygon": {
        "nb_sides": 5
      },
      "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
      }
    },
    "opacity": {
      "value": 1,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 1,
        "opacity_min": 0,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": false,
        "speed": 4,
        "size_min": 0.3,
        "sync": false
      }
    },
    "line_linked": {
      "enable": false,
      "distance": 150,
      "color": "#ffffff",
      "opacity": 0.4,
      "width": 1
    },
    "move": {
      "enable": true,
      "speed": 1,
      "direction": "none",
      "random": true,
      "straight": false,
      "out_mode": "out",
      "bounce": false,
      "attract": {
        "enable": false,
        "rotateX": 600,
        "rotateY": 600
      }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "bubble"
      },
      "onclick": {
        "enable": true,
        "mode": "repulse"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 400,
        "line_linked": {
          "opacity": 1
        }
      },
      "bubble": {
        "distance": 250,
        "size": 0,
        "duration": 2,
        "opacity": 0,
        "speed": 3
      },
      "repulse": {
        "distance": 400,
        "duration": 0.4
      },
      "push": {
        "particles_nb": 4
      },
      "remove": {
        "particles_nb": 2
      }
    }
  },
  "retina_detect": true
});
</script>
