<style>
  ul li {
    list-style:none;
    cursor:pointer;
  }
  
  /* -----------
  여기서부터 tab 
  --------------*/
  .tab-wrap {
    border-radius: 0px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    background-color: #fff;
    margin: 40px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .tab {
    display: none;
  }
  .tab:checked:nth-of-type(1) ~ .tab__content:nth-of-type(1) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(2) ~ .tab__content:nth-of-type(2) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    text-shadow: 0 0 0;
  }
  .tab:checked:nth-of-type(3) ~ .tab__content:nth-of-type(3) {
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 100;
    text-shadow: 0 0 0;
  }
  
  .tab:first-of-type:not(:last-of-type) + label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .tab:not(:first-of-type):not(:last-of-type) + label {
    border-radius: 0;
  }
  .tab:last-of-type:not(:first-of-type) + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .tab:checked + label {
    background-color: #fff;
    box-shadow: 0 -1px 0 #fff inset;
    cursor: default;
  }
  .tab:checked + label:hover {
    box-shadow: 0 -1px 0 #fff inset;
    background-color: #fff;
  }
  .tab + label {
    box-shadow: 0 -1px 0 #eee inset;
    border-radius: 6px 6px 0 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #333;
    flex-grow: 3;
    text-align: center;
    background-color: #f2f2f2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    height: 50px;
    box-sizing: border-box;
    padding: 15px;
  }
  .tab + label:hover {
    background-color: #f9f9f9;
    box-shadow: 0 1px 0 #f4f4f4 inset;
  }
  .tab__content {
    padding: 10px 25px;
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0;
    left: 0;
    border-radius: 6px;
  }
  
  /* boring stuff */
  body {
    font-family: 'Helvetica', sans-serif;
    font-weight: 300;
  }
  
  .container {
    margin: 0 auto;
    display: block;
    max-width: 800px;
  }
  .container > *:not(.tab-wrap) {
    padding: 0 80px;
  }
  
  h1,
  h2 {
    margin: 0;
    color: #444;
    text-align: center;
    font-weight: 400;
  }
  
  h2 {
    font-size: 1em;
    margin-bottom: 30px;
  }
  
  h3 {
    font-weight: 400;
  }
  
  p {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  
  
  </style>
  <!-- style tag 끝나는 곳에 nav2가 있길래 -->
  <%= render 'nav2' %>
  <main>  
    <div class="container">
      <div class="tab-wrap">
        <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
        <label for="tab1">최근 소식</label>
  
        <input type="radio" id="tab2" name="tabGroup1" class="tab" checked>
        <label for="tab2">내가 찜한 책</label>
  
        <input type="radio" id="tab3" name="tabGroup1" class="tab">
        <label for="tab3">내가 찜한 책</label>
  
        <div class="tab__content">
          <h3>최근 소식</h3>
          <div class="trade_content">
            <div class="msgs">
              <% @noti.unread_by(current_user).each do |m| %>
                <%= link_to m, class: 'msg row' do %>
                  <div class="msg_bell col-md-2">읽지 않음</div>
                  <div class="msg_title col-md-8"><%= m.content %></div>
                  <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
                <% end %>
              <% end %>
              <% @noti.read_by(current_user).each do |m| %>
                <%= link_to m , class: 'msg row' do %>
                  <div class="msg_bell col-md-1">읽음</div>
                  <div class="msg_title col-md-9"><%= m.content %></div>
                  <div class="msg_time col-md-2"><%= m.created_at.strftime("%Y-%m-%d") %></div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
  
        <div class="tab__content">
          <h3>내가 올린 책</h3>
          <div>
          <% @books.each do |b| %>
            <div class="col-12 col-xl-3 col-md-4 col-sm-6 card" id="eachcard">
              <%= link_to book_path(b.id)do %>
              <div class="card-image-top">
                <div class="inner-image" style="background-image: url(https://dsgut53a1wh4g.cloudfront.net/<%=b.img_url.first.path%>)">
                  <% if b.sell %>
                  <div class="img-cover text-center">판매완료</div>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <div class="card-title"><%=b.bookname%> | <%= b.author%></div>
                <div class="card-text">
                  <p id="won"><%= b.price%>원</p>
                  <p id="discnt">
                    <% if b.discount>=0 %>
                    [<%= b.discount%>%&darr;]
                    <% else %>
                    [할인율 정보 없음]
                    <% end %>
                  </p>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
            <!-- book에 대한 paginate -->
            <div class="page"><%= paginate @books %></div> 
          </div>
        </div>
  
        <div class="tab__content">
          <h3>내가 찜한 책</h3>
          <div>
            <!-- tab3 내용 시작  -->
            <!-- each문 시작 위의 내가 올린 책의 class 구조를 그대로 따랐음.  -->
            <% @likes.each do |b| %>
            <div class="col-12 col-xl-3 col-md-4 col-sm-6 card" id="eachcard">
              <%= link_to book_path(b.book.id)do %>
              <div class="card-image-top">
                <div class="inner-image" style="background-image: url(https://dsgut53a1wh4g.cloudfront.net/<%=b.book.img_url.first.path%>)">
                  <% if b.book.sell %>
                  <div class="img-cover text-center">판매완료</div>
                  <% end %>
                </div>
              </div>
              <div class="card-body">
                <div class="card-title"><%=b.book.bookname%> | <%= b.book.author%></div>
                <div class="card-text">
                  <p id="won"><%= b.book.price%>원</p>
                  <p id="discnt">
                    <% if b.book.discount>=0 %>
                    [<%= b.book.discount%>%&darr;]
                    <% else %>
                    [할인율 정보 없음]
                    <% end %>
                  </p>
                </div>
              </div>
              <% end %>
            </div>
            <% end %>
            <!-- like에 대한 paginate -->
            <div class="page"><%= paginate @likes %></div> 
            <!-- each 문 끝 -->
            <!-- tab3 내용 끝  -->
          </div>
        </div>