<style>

@font-face { font-family: 'KCC-eunyoung'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

li.nav-item a#mypage {
  color: rgb(0,42,253);
}


#banner {
  background-color: rgb(0,42,253);
  height: 280px;
  width: 100%;
}

.ment {
  padding-top: 7%;
  text-align: center;
}

.ment h2 {
  color: white;
  font-size: 4rem;
  font-family: 'KCC-eunyoung';
}

main {
  min-height: 130vh;
  height: auto;
}

.container {
  line-height: 1.5;
  font-size: 1rem;
}

.row {
  padding: 2rem 0;
  display: block;
}

.trade_content {
  position: relative;
  margin: 1rem 0;
  padding: 16px;
  border: 1px solid #dadfeb;
  border-radius: .28571429rem;
}

.msgs {
  margin: 0 0;
}

.msgs > .msg:first-child {
  margin-top: 0 !important;
  border-top: none !important;
  padding-top: 0 !important;
}

.msgs > .msg:last-child {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.msgs > .msg:last-child:hover {
  padding-bottom: 1em !important;
  margin-bottom: -1em !important;  
  transition: none;
}

.msgs > .msg:first-child:hover {
  padding-top: 1em !important;
  margin-top: -1em !important;
  transition: none;
}

.msg {
  width: 100%;
  padding: 1em 0;
  border-top: 1px solid #dadfeb;
  margin: 0;
  font-size: 1em;
  display: flex;
}

.msg_time {
  font-size: 0.9rem;
  color: gray;
}

.each_header {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 18px;
}

.grid > .row:before {
  position:absolute;
  content: "";
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 1px;
  margin: 0 10px;
  box-shadow: 0 -1px 0 0 #dadfeb;
}

.books {
  display: flex;
  justify-content: space-around;
}

.book {
  height: 230px;
  width: 180px;
  border: 1px solid #dadfeb;
  border-radius: .28571429rem;
}

.books > .book:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.books > .book:last-child span {
  color: rgb(115,111,111);
  font-size: 70px;
  font-weight: 200;
}

.books > .book:hover,
.msgs > .msg:hover {
  background-color: #dadfeb;
  transition: 0.3s all ease-in-out;
}

.books > .book:last-child span:hover{
  color: white;
}

</style>

<%= render 'nav2' %>

<main>

<div id="banner">
  <div class="ment"><h2>마이페이지</h2></div>
</div>

<div id = "wrap" class="vertically divided grid container">
  <section id="trade" class="row">
    <h4 class="trade_header each_header">
    거래내역
    </h4>
    <div class="trade_content">
      <div class="msgs">
        <div class="msg row">
          <div class="msg_bell col-md-1">OK</div>
          <div class="msg_title col-md-3">제목입니다</div>
          <div class="msg_content col-md-6">내용입니다</div>
          <div class="msg_time col-md-2">2018-03-28</div>
        </div>
        <div class="msg row">
          <div class="msg_bell col-md-1">OK</div>
          <div class="msg_title col-md-3">제목입니다</div>
          <div class="msg_content col-md-6">내용입니다</div>
          <div class="msg_time col-md-2">2018-03-28</div>
        </div>      
        <div class="msg row">
          <div class="msg_bell col-md-1">OK</div>
          <div class="msg_title col-md-3">제목입니다</div>
          <div class="msg_content col-md-6">내용입니다</div>
          <div class="msg_time col-md-2">2018-03-28</div>
        </div>  
        <div class="msg row">
          <div class="msg_bell col-md-1">OK</div>
          <div class="msg_title col-md-3">제목입니다</div>
          <div class="msg_content col-md-6">내용입니다</div>
          <div class="msg_time col-md-2">2018-03-28</div>
        </div>   
        <div class="msg row">
          <div class="msg_bell col-md-1">OK</div>
          <div class="msg_title col-md-3">제목입니다</div>
          <div class="msg_content col-md-6">내용입니다</div>
          <div class="msg_time col-md-2">2018-03-28</div>
        </div>      
      </div>
    </div>
  </section>
  <hr>
  <section id="mybooks" class="row">
    <h4 class="mybooks_header each_header">
    내가 올린 책들
    </h4>
    <div class="mybooks_content">
      <div class="books row">
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <a class="book" href=<%= new_book_path%>><span>+</span></a>
      </div>
    </div>
  </section>
  <hr>
  <section id="myzzims" class="row">
    <h4 class="myzzims_header each_header">
    내가 찜한 책들
    </h4>  
    <div class="myzzims_content">
      <div class="books row">
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <div class="book"></div>
        <a class="book" href=<%=root_path %>><span>+</span></a>
      </div>    
    </div>
  </section>
</div>
</main>
<%= render 'footer' %>





