<!-- 여기에 서강 메일 만드는 방법이 들어가는 부분 프론트 자업이 필요하다. -->
<style>
  
  .result {
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

    #mobilebtn {
    color: black !important;
  }


  /*
  .books_title {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 4% 10%;
    font-size: 0.9rem;
  }
  .inner-image {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*for debugging
    border: 1px solid gray;
  }

  #eachcard a {
    display: flex;
  }

  #eachcard {
    margin: 0.5rem;
    border:none;
    height: 10rem;
  }

  .card-image-top {
    height: 10rem;
    width: 100%;
  }

  .card-body {
    width: 70%;
    right: 0;
  }

  .card {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  
@media all and (max-width: 576px){
  .card-image-top{
    width: 250px;
    height: 250px;
  }
}
@media all and (min-width: 576px) and (max-width: 992px){
  .card-image-top{
    width: 200px;
    height: 200px;
  }
}
@media all and (min-width: 992px) {
  .card-image-top{
    width: 230px;
    height: 230px;
  }
}


*/

</style>

<header>
<%= render 'nav2' %>
</header>

<main>

  <div class="books_title">
    <div class="result">세인트 메일 만드는 방법</div>
    <div class="choice">
  </div>

  <div class="book_contents container" style="padding-bottom: 10rem; padding-top: 0rem; min-height: 80vh;">
  
  
    <div class="row">
		<div class="col">
			<ol>
			  <li><p>1. saint에 로그인을 합니다. ( http://saint.sogang.ac.kr )</p></li><br>
			  <li><p>2. 로그인 화면 중앙의 연계 서비스란의 E-Mail 항목 클릭</p></li><br>
			  <li><p>3. 회원가입을 클릭한 후에 가입 절차를 밟으세요!</p></li><br>
			  <li><p>4. 가입 승인이 완료 되면 사용 가능 하십니다. ( http://mail.sogang.ac.kr )</p></li><br>
			  <li><p>5. 이렇게 만드신 메일로 반짝에서 회원가입 하시고 인증 메일 받으시면 됩니다.</p></li>
			</ol>
		</div>
    </div>

  </div>

</main>
<%= render 'footer' %>

