
* {margin: 0; padding: 0;}
a {text-decoration: none;}


ul.navbar-nav > li.nav-item > a.log{
  color: #ffc107;
}

/*
.logo, .logo2 {
  background-image: url(/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo {
  height: 50px;
}
*/
.logo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo span {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}

.logo2 {
  height: 45px;
}
@media all and (max-width: 992px){
  .logo, .logo2 {
    width: 144px;
  }
}
@media all and (min-width: 992px) {
  .logo-link{
    width: 15%;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
.nav-search {
  justify-content: center;
}
.nav-search .search-form .form-control {
  width: 100%;
  border-radius: 30px;
}
.search-form2 .form-control {
  width: 100%;
  border-color: #ffc107;
  border-radius: 30px;
}
@media all and (max-width: 576px){
  .nav-search .search-form {
    width: 80%;
  }
}
@media all and (min-width: 576px) and (max-width: 992px){
  .nav-search .search-form {
    width: 60%;
  }
  .search-form2 {
    width: 40%;
  }
}
@media all and (min-width: 992px) {
  .nav-search .search-form {
    width: 100%;
  }
  .search-form2 {
    margin-left: 15%;
    width: 30%;
  }
}
.read{
  display: flex;
  align-items: center;
}
.dropdown-menu {
  width: 300px;
  text-align: center;
  left: -180px;
}


/* ---------------------------

위까지는 언니코드 (혹시몰라서 안지웠어용) 
아래부터는 내 코드 

----------------------------*/


* {margin: 0; padding: 0;}
a {text-decoration: none;}
