@font-face { font-family: 'ThecircleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/ThecircleM.woff') format('woff'); font-weight: normal; font-style: normal; }
a {
  font-size: 1rem;
  text-decoration: none;
}
/*
.logo {
  background-image: url(/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
*/
.logo {
  font-family: 'ThecircleM';
  font-size: 2.5rem;
  text-align: start;
  color: #fdd400;
  width: auto;
  margin-right: 10%;
}
.logo-link {
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
}

.minititle {
  display: flex;
  align-items: center;
}

.minititle span {
  font-weight: 600;
  font-size: 1rem;
  color: hsl(0,0%,13%);
}



.nav-search {
  justify-content: center;
}
.nav-search .search-form .form-control {
  width: 100%;
}
.form-control {
  width: 100%;
}
.read{
  display: flex;
  align-items: center;
}
.dropdown-menu {
  width: 300px;
  text-align: center;
}

@media all and (max-width: 576px) {
  .nav-search .search-form {
    width: 80%;
  }

  .logo-link {
    margin-left: 0;
  }

  .navbar {
    padding-right: 3%;
  }

  .logo {
    margin-right: 8%;
  }
}
@media all and (min-width: 577px) and (max-width: 992px){
  .nav-search .search-form {
    width: 60%;
  }

  .logo-link {
    margin-left: 3%;
  }

}
@media all and (min-width: 993px) {
  .navbar {
    padding: 1.5rem !important;
  }

  .books_title {
    padding: 1.5rem !important;
  }
  .nav-search .search-form {
    width: 100%;
  }
  .logo-link{
    width: 15%;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
